.homepage-logo {
  width: 350px;
  height: 350px;
  margin: auto;
  margin-top: 13vh;
  display: block;
}
.homepage-button {
  display: block;
  margin: auto;
  border-radius: 50px;
  width: 183px;
  height: 76px;
  background: #d61120;
  text-decoration: none;
  color: white;
  text-align: center;
  line-height: 76px;
  font-size: 25px;
  font-weight: 700;
  margin-top: 110px;
  text-transform: uppercase;
}
