a {
  text-decoration: none;
}

.favourite_container {
  display: flex;
  height: 100px;
  margin: 4px;
  margin-bottom: 20px;
}

.avatar {
  height: 100px;
  text-align: center;
  width: 100px;
  border-radius: 50%;
  border: 4px solid #b71825;
}

.avatar_name {
  font-size: 14px;
  font-weight: bold;
  line-height: 100px;
  margin-left: 20px;
  color: #b71825;
}

.list_container {
  width: 250px;
  margin: auto;
}

.matchlist_image {
  margin: auto;
  height: 8vh;
  margin-top: 8vh;
  margin-bottom: 40px;
  width: 116px;
  display: block;
}

.No_Match_message {
  text-align: center;
  font-size: 28px;
  color: #b71825;
  font-weight: bold;
  padding: 20px;
  margin: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.lonely_robot {
  height: 300px;
}

.button {
  margin-top: 50px;
  margin-bottom: 50px;
}

.matchmaker-gotomatchmaker-button {
  text-decoration: none;
  color: white;
  background-color: #b71825;
  border-radius: 100px;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin: auto;
  width: 260px;
  line-height: 40px;
}
