/* 
font-family: 'Nunito', sans-serif;
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

button,
input,
textarea {
  font-family: "Nunito", sans-serif;
}
